<!DOCTYPE html>
<html>
<body>

<h2>Add user</h2>

<form action="register/" method="POST">
  <label for="username">Username:</label>&nbsp;
  <input type="text" id="username" name="username" placeholder="Username"><br><br>
  <label for="email">Email:</label>&nbsp;
  <input type="text" id="email" name="email" placeholder="email"><br><br>
  <label for="password">Password:</label>&nbsp;
  <input type="text" id="password" name="password" placeholder="Password"><br><br>
  <label for="admin">Admin:</label>&nbsp;
  <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
  
  <input type="submit" value="Submit">
</form> 

<script>
  $(document).ready(function () {
      BindStudents();
  });

  $('#btnSubmit').click(function () {

      let idValue = $('#txtId').val();
      let firstName = $('#txtFirstName').val();
      let lastName = $('#txtLastName').val();
      let DobValue = $('#txtDOB').val();

      $.ajax({
          type: 'POST',
          dataType: 'json',
          data: {
              "id": idValue,
              "first_name": firstName,
              "last_name": lastName,
              "dob": DobValue
          },

          url: "http://127.0.0.1:8000/student/",
          error: function (xhr, status, error) {

              var err_msg = ''
              for (var prop in xhr.responseJSON) {
                  err_msg += prop + ': ' + xhr.responseJSON[prop] + '\n';
              }

              alert(err_msg);
          },
          success: function (result) {
           
              BindStudents();
              alert('Data Saved Successfully.');

              $('#txtId').val("");
              $('#txtFirstName').val("");
              $('#txtLastName').val("");
              $('#txtDOB').val("");
          }
      });
  });

  function BindStudents() {
      $.ajax({
          type: 'GET',
          dataType: 'json',
          url: "http://127.0.0.1:8000/student/", success: function (result) {
             
              var totalCount = result.length;
              var structureDiv = "";
              for (let i = 0; i < totalCount; i++) {
                  structureDiv += "<tr>" +
                      "     <td>" + result[i].id + "</td>" +
                      "      <td>" + result[i].first_name + "</td>" +
                      "             <td>" + result[i].last_name + "</td>" +
                      "              <td>" + result[i].dob + "</td>" +
                      "              <td><button class='btn btn-link' onclick='return confirm(\"Are you sure you want to delete this record?\",DeleteRow(" + result[i].id + "))'>Delete</button></td>" +
                      "           </tr>";
              }

              $("#divBody").html(structureDiv);
        
          }
      });

  }

  function DeleteRow(id) {
      
      $.ajax({
          type: 'DELETE',
          dataType: 'json',

          url: "http://127.0.0.1:8000/student/"+id+"/",
          error: function (xhr, status, error) {

              var err_msg = ''
              for (var prop in xhr.responseJSON) {
                  err_msg += prop + ': ' + xhr.responseJSON[prop] + '\n';
              }

              alert(err_msg);
          },
          success: function (result) {
        
              BindStudents();
          }
      });
  }
</script>
</body>
</html>