<!DOCTYPE html>
<html>
<body>

<h1>Which Operation to performance</h1>>
<a href="adduser.html" >  
    <input type="submit" value="New User "/> 
   </a> <br><br>

   <a href="createbook.html">  
    <input type="submit" value="Add Book"/>  
   </a><br><br>

   <a href="updatebook.html">  
    <input type="submit" value="Update Book"/>  
   </a><br><br>

   <a href="deletebook.html">  
    <input type="submit" value="Delete Book"/>  
   </a><br><br>

   <a href="allbooks.html" >  
    <input type="submit" value="Available Books "/> 
   </a> <br><br>

</body>
</html>